.search-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.search-row__search-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px
}

@media only screen and (max-width: 650px) {
    .search-row {
        flex-direction: column;
    }
}
