.table-container {
    height: 400px;
    width: 85%;
    overflow: scroll;
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 20px,
}

.task-table {
    width: 100%;
    background-color: var(--blue-grad-darker);
}

.task-table__header {
    height: 30px;
}

.task-table__row {
    height: 20px;
}

.task-table__cell {
    color: var(--whiteish);
    padding: 15px;

    border: 2px solid var(--light-blue);
}

.task-table__header-cell {
    color: var(--whiteish);
    padding: 15px;
}