.pagination-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.pagination-row__content {
    background-color: var(--light-blue);
    width: fit-content;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}

@media only screen and (max-width: 900px) {
    .pagination-row {
        flex-direction: column;
        justify-content: flex-start;
    }
}
